@import url("./reset.css");

* {
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  color: white;
}

body {
  background-color: #142959;
}

div {
  width: 320px;
  height: 450px;
  margin: auto;
  background-color: #b1b5be;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr repeat(2, auto);
  grid-template-areas:
    "header"
    "aside"
    "main-content"
    "aside"
    "footer";
}

header {
  width: 75%;
  height: 13%;
  background-color: #9f1f63;
  font-size: 1.7em;
  border-radius: 10px;
}

section {
  width: 75%;
  height: 50%;
  background-color: #26b47e;
  border-radius: 10px;
}

article {
  width: 90%;
  height: 25%;
  background-color: #e5195b;
  align-items: center;
  border-radius: 10px;
}

aside {
  width: 75%;
  height: 13%;
  background-color: #126395;
  font-size: 1.7em;
  border-radius: 10px;
}

footer {
  width: 75%;
  height: 13%;
  background-color: #df6b26;
  font-size: 1.7em;
  border-radius: 10px;
}
