@import url("./reset.css");

* {
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  color: white;
  text-align: center;
}

body {
  background-color: #142959;
}

div {
  width: 320px;
  height: 500px;
  margin: auto;
  padding: 15px 0 15px 0;
  background-color: #b1b5be;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "section"
    "aside"
    "footer";
  justify-items: center;
  align-items: center;
}

header {
  width: 75%;
  height: 45px;
  background-color: #9f1f63;
  font-size: 1.7em;
  border-radius: 10px;
}

section {
  width: 75%;
  height: 225px;
  background-color: #26b47e;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

p {
  display: none;
}

article {
  width: 80%;
  height: 55px;
  background-color: #e5195b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#aside-1 {
  width: 75%;
  height: 45px;
  background-color: #126395;
  font-size: 1.7em;
  border-radius: 10px;
}

#aside-2 {
  width: 75%;
  height: 45px;
  background-color: #27a3b6;
  font-size: 1.7em;
  border-radius: 10px;
}

footer {
  width: 75%;
  height: 45px;
  background-color: #df6b26;
  font-size: 1.7em;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  div {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  header,
  footer {
    width: 90%;
    height: 100px;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  p {
    display: block;
    grid-column: span 3;
    font-size: 1.7em;
  }

  article {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #aside-1,
  #aside-2 {
    width: 70%;
    height: 300px;
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
